<!DOCTYPE html>
<html>
  <head>
    <title>Airtable database example</title>
    <meta name="description" content="Airtable database example" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>
        Bug Tracker
      </h1>
      Fetches data from an Airtable base.
    </header>

    <main id="data-container">
      Loading...
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
